<html>
    <%- include('partials/header.ejs') %>
    <body>
        
        <! --Gets random information -->
        <h1> Thank you for Visiting my Java Website! Below is some information incase you needed
             to contact me!</h1>
             <h1><%= name %></h1>
             <h1><%= email %></h1>
             <h1><%= company %></h1>
             <h1><%= city %></h1>
             <h1><%= country %></h1>
    </body>
</html>